<div class="col_main">

    <form action="" method="post" id="post_form">
        <input type="hidden" name="id" th:value="#(role?.id)">
        <table class="table1">
            <tr>
                <td><span th:text="#(action=='edit'?'修改':'新增')"></span>账号角色</td>
                <td></td>
            </tr>
            <tr>
                <td>角色名称</td>
                <td>
                    <input required="required" th:text="#(role?.roleName)" type="text" name="roleName" value=""
                           class="input_02">
                </td>
            </tr>
            <tr>
                <td>角色简介</td>
                <td>
                    <input required="required" th:text="#(role?.roleDesc)" type="text" name="roleDesc" value=""
                           class="input_02">
                </td>
            </tr>


            <tr>
                <td>
                    &nbsp;
                </td>
                <td>
                            <span id="js_submit" class="btn_primary">
                                <button type="button">保存</button>
                            </span>
                </td>
            </tr>

        </table>
    </form>

</div>
</div>
</div>
<script type="text/javascript">
    $(function () {
        $('#js_submit').click(function () {
            var dataOk = true;
            $('input').each(function () {
                if ($(this).attr('required') == "required") {
                    if ($(this).val() == "") {
                        NDUO.popup($(this).parent().prev().html() + "不能为空");
                        dataOk = false;
                        return;
                    }
                }
            })
            if (dataOk) {
                $('#post_form').submit();
            }
        })
    })
</script>

