<!DOCTYPE html>
<head xmlns="http://www.w3.org/1999/html">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title >#getMessage('global.softName') + ' ' +  - #getMessage('global.softVersion') - 恩多CMS v0.3</title>
    <link href="/css/admin.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/common-nduo.js"></script>
    <script type="text/javascript" src="/js/js.cookie.min.js"></script>
    <script type="text/javascript" src="/js/jquery.tmpl.min.js"></script>
    <meta name="uid" th:content="#(cmsVariables.debugToken.uid)"/>
    <meta name="authSuccess" th:content="#(cmsVariables.debugToken.authSuccess)"/>
    <meta name="user" th:content="#(cmsVariables.debugToken.user)"/>


</head>
<body>