#include('inc/header.html')
<div class="wrapper">
    <div class="homepage-box grid-box">
        <div class="homepage-box-main category-left">
            <div class="category-mianbaoxie">
                <span>当前位置：</span>搜索结果
            </div>
            <div class="category-header">
                <div class="category-header-title">搜索词 ：#(searchKeyword)</div>

            </div>
            #if(articleList.size() == 0)
            <div class="category-list-item">

                <div class="category-list-item-left">
                </div>
                <div class="category-list-item-right">
                    <a href="javascript:void(0);">未搜索到相关内容 </a>
                </div>
            </div>
            #end
            #for(item:articleList)
            <div class="category-list-item">

                <div class="category-list-item-left">
                    <img src="#(item.coverImage)">
                </div>
                <div class="category-list-item-right">
                    <a href="#(item.articleUrl)"> #(item.title)</a>
                    <p>#(item.summary)</p>
                    <div class="meta">
                        <span>来源:#(item.source)</span>
                        <span>作者:#(item.author)</span>
                        <span>发布时间:#date(item.publishDate,'y-M-d h:m')</span>
                        <span>浏览:#(item.click)</span>
                    </div>
                </div>
            </div>
            #end
            <div class="pager-wrapper" style="margin:10px;">
                #pageNav()
            </div>
        </div>
        <div class="homepage-box-side category-right">
            #@patchNewRank(10)
            #@patch4(10)
        </div>
    </div>
</div>

#include('inc/footer.html')