<div class="page-body dk-auto-form" data-action="/admin/content/save" data-success="/admin/content/list">
    <input type="hidden" name="id" value="#(article.id)">
    <div class="page-body-main grid-box">

        <div style="width: 65%;margin-right:10px;">
            <table class="table-pro" style="border: 1px solid #f1f1f1;">
                <tr>
                    <td>
                        <div class="grid-box">
                            <div class="grid-box-item-flex1">
                                #(action=='edit'?'编辑':'发布')内容
                            </div>
                            <div>
                                <a class="btn_primary" href="javascript:history.go(-1);">
                                    返回
                                </a>
                                <span class="btn_primary dk-auto-submit-btn">保存</span>
                                <span class="btn_primary js_submit_save_as_draft">保存为草稿</span>
                                <a target="_blank" class="btn_primary"
                                   href="/admin/site/article?articleId=#(article.id)">
                                    预览
                                </a>

                            </div>
                        </div>

                    </td>
                </tr>

                <tr>
                    <td>标题:<br>
                        <input type="text" name="title"
                               data-require="标题不能为空"
                               value="#(article.title)" class="input_02"
                               style="width: 100%;">
                    </td>
                </tr>

                <tr>
                    <td>
                        <div style="width:100%;margin: 5px 0px;">
                            #adminRichText("content",article.content)
                        </div>

                    </td>
                </tr>
                <tr>
                    <td>
                            <span class="btn_primary js_submit dk-auto-submit-btn">
                                <button type="button">保存</button>
                            </span>
                        <span class="btn_primary js_submit_save_as_draft">
                                <button type="button">保存为草稿</button>
                            </span>
                    </td>
                </tr>
            </table>


        </div>
        <div class="grid-box-item-flex1">
            <table class="table-pro" style="border: 1px solid #f1f1f1;">
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <span>#getMessage('noun.tag')</span><br>
                        #adminTagSelect('tags','article',article.tags)
                        <a href="#/admin/tag/index" target="_blank">管理标签</a>
                    </td>
                </tr>
                <tr>
                    <td>内容URL(permalink):<br>
                        <input type="text" name="permalink" value="#(article.permalink)" class="input_02">
                    </td>
                </tr>
                <tr>
                    <td>作者:<br>
                        <input type="text" name="author" value="#(article.author)" class="input_02">
                    </td>
                </tr>

                <tr>
                    <td>来源:<br>
                        <input type="text" name="source" value="#(article.source)" class="input_02">
                    </td>
                </tr>
                <tr>
                    <td>类别:<br>
                        #adminCategorySelect('category_id', article.categoryId)
                    </td>
                </tr>


                <tr>
                    <td>封面图:<br>
                        #adminFileUploader('cover_image', article.coverImage)
                    </td>
                </tr>
                <tr>
                    <td>摘要:<br>
                        <textarea class="textarea_01" name="summary">#(article.summary)</textarea>
                    </td>
                </tr>
                <tr>
                    <td>关键字:<br>
                        <textarea class="textarea_01" name="keywords">#(article.keywords)</textarea>
                    </td>
                </tr>
                <tr>
                    <td>保存为草稿:<br>
                        #adminCheckBox('is_draft',((article.isDelete==0||article.isDelete==null)?'否':'是'),'是,否')
                    </td>
                </tr>

            </table>


        </div>

    </div>

</div>

