<style>
    a:hover {
        text-decoration: none;
    }

    tr:hover .preview-btn {
        display: inline-block;
    }

    .preview-btn {
        display: none;
        margin-left: 10px;
        padding: 0 5px;
        width: 12px;
        height: 12px;
        background: url("/image/icon/preview.png") no-repeat center;
        background-size: contain;
        vertical-align: middle;
    }
</style>

<div class="page-body">
    <div class="page-body-top">
        <h3 class="page-body-top-left">#(tableTitle)</h3>
        <div class="page-body-top-center">
            <input type="text" name="keyword" value="" placeholder="请输入关键词">
            <input type="button" class="btn_primary" id="searchBtn" value="搜索标题">
        </div>
        <div class="page-body-top-right">
            <a data-href="/admin/category/list" class="btn_primary">
                #getMessage('noun.category') #getMessage('noun.management')
            </a>
            <a data-href="/admin/content/add?categoryId=#(categoryId)" class="btn_primary">
                #getMessage('verb.new') #getMessage('noun.article')
            </a>
            <a data-href="/admin/content/recycleList" class="btn_primary">
                #getMessage('noun.recycle')
            </a>
            <a data-href="/admin/content/draftList" class="btn_primary">
                #getMessage('noun.draftBox')
            </a>
        </div>
    </div>


    <div class="page-body-main">
        <table class="table-pro">
            <tr>
                <td style="width:50px;">#getMessage('noun.id')</td>
                <td>#getMessage('noun.title')</td>
                <td style="width: 140px;">#getMessage('noun.publishAt')</td>
                <td style="width: 50px;">#getMessage('noun.isShow')</td>

                <td style="width:150px;">#getMessage('noun.op')</td>
            </tr>

            #if(list.size() == 0)
            <tr>
                <td colspan="10">#getMessage('noun.noData')</td>
            </tr>
            #end

            #for(item:list)
            <tr>
                <td>#(item.id)</td>
                <td>
                    <a data-href="/admin/category/edit?id=#(item.categoryId)">
                        [#(item.categoryName)]
                    </a>
                    <a data-href="/admin/content/edit?id=#(item.id)">
                        <span>#(item.title)</span>
                    </a>
                    <a target="_blank" class="preview-btn"
                       href="/admin/site/article?articleId=#(item.id)"
                       title="预览"></a>
                </td>
                <td>#date(item.publishDate,'yyyy-MM-dd HH:mm')</td>
                <td>#(item.isShow==1?'显示':'隐藏')</td>

                <td>
                    <a class="icon-btn icon-btn-edit" title="编辑"
                       href="#/admin/content/edit?id=#(item.id)"></a>
                    <a class="icon-btn icon-btn-preview" title="预览"
                       href="/site/content?articleId=#(item.id)" target="_blank"></a>
                    <a class="icon-btn icon-btn-delete" title="删除"
                       href="#/admin/content/moveInRecycle?id=#(item.id)"
                       onclick="return confirm('确定?')"></a>
                </td>
            </tr>
            #end
        </table>
        #adminPageNav()
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#searchBtn').click(function () {
            var kw = $('input[name=keyword]').val();
            if (kw !== '') {
                location.hash = '/admin/content/search?keyword=' + kw;
            }
        })
    })
</script>

