#define patchSideArticleSlide(categoryId)
<style type="text/css">
    /* 本例子css */
    .slideBox {
        overflow: hidden;
        position: relative;
    }

    .slideBox .hd {
        height: 15px;
        overflow: hidden;
        position: absolute;
        left: 10px;
        top: 10px;
        z-index: 1;
    }

    .slideBox .hd ul {
        overflow: hidden;
        zoom: 1;
        float: left;
        padding: 0;
        margin: 0;
    }

    .slideBox .hd ul li {
        float: left;
        margin-right: 2px;
        width: 15px;
        height: 15px;
        line-height: 14px;
        text-align: center;
        background: #fff;
        cursor: pointer;
        list-style: none
    }

    .slideBox .hd ul li.on {
        background: #f00;
        color: #fff;
    }

    .slideBox .bd {
        position: relative;
        height: 100%;
        z-index: 0;
    }

    .slideBox .bd ul {
        margin: 0;
        padding: 0;
    }

    .slideBox .bd li {
        zoom: 1;
        vertical-align: middle;
        list-style: none
    }

    .slideBox .bd img {
        width: 100%;
        display: block;
    }
    .slideBox .bd-p {
        white-space: nowrap;
        padding:10px 10px;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size:1.125rem;
    }

    /* 下面是前/后按钮代码，如果不需要删除即可 */
    .slideBox .prev,
    .slideBox .next {
        position: absolute;
        left: 3%;
        top: 50%;
        margin-top: -25px;
        display: block;
        width: 32px;
        height: 40px;
        background: url(http://www.superslide2.com/demo/images/slider-arrow.png) -110px 5px no-repeat;
        filter: alpha(opacity=50);
        opacity: 0.5;
    }

    .slideBox .next {
        left: auto;
        right: 3%;
        background-position: 8px 5px;
    }

    .slideBox .prev:hover,
    .slideBox .next:hover {
        filter: alpha(opacity=100);
        opacity: 1;
    }

    .slideBox .prevStop {
        display: none;
    }

    .slideBox .nextStop {
        display: none;
    }
    .page-side-slide-article{
        margin-bottom: 0;
        border:0;
        border-radius:0;
    }
</style>
<div id="slideBox2" class="slideBox page-side-slide-article" style="margin-bottom: 0">
    <div class="hd">
        <ul>
            <li class="on">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
        </ul>
    </div>
    <div class="bd">
        <ul>
            #contentList()
            <li style="display: none;">
                <a href="#(item.articleUrl)" target="_blank">
                    <img src="#(item.coverImage)">
                    <p class="bd-p">#(item.title)</p>
                </a>
            </li>
            #end
        </ul>
    </div>


</div>
<script type="text/javascript">
    $(function () {
        jQuery("#slideBox2").slide({mainCell: ".bd ul", autoPlay: false});
    })
</script>
#end