#define patch2(categoryId)
<div class="patch2 patch-common">
    <div class="patch-header">
        #categoryDetail(categoryId)
        <div class="patch-header-title">#(category.categoryName)</div>
        <div class="patch-header-more">
            <a href="#(category.categoryUrl)">更多</a>
        </div>
        #end
    </div>


    #articleList(categoryId)

    #if(index==0)
    <div class="patch-body-first" style="cursor: pointer" onclick="location.href='#(item.articleUrl)'">
        <div class="patch-body-first-left">
            <img src="#(item.coverImage)">
        </div>
        <div class="patch-body-first-right">
            <div class="patch-body-first-right-title">#(item.title)</div>
            <div class="patch-body-first-right-txt">#(item.summary)</div>
        </div>
    </div>
    #else

    #if(index==1)
    <div class="patch-body">
        #end
        #if(index>0)
        <a href="#(item.articleUrl)">#(item.title)</a>
        #end
    #end


    #end
    </div>

</div>
#end