#include('inc/header.html')

<div class="section-category">
    <div class="wrapper category-wrapper" style="width: 80%">
        <div class="category-right">
            <div class="category-title mianbaoxie">
                #mianbaoxie()
            </div>
            <div class="category-content category-box">
                <article class="article-detail">
                    <h1 class="article-title">#(article.title)</h1>
                    <div class="meta article-meta">
                        <div>#date(article.publishDate,'yyyy-MM-dd hh:mm:ss')</div>
                        <a href="#(article.categoryVo.categoryUrl)">#(article.categoryVo.categoryName)</a>
                    </div>

                    <div class="article-content">
                        #if(!isBlank(article.coverImage))
                        <div class="article-cover-image">
                            <img src="#(article.coverImage)" alt="#(article.title)">
                        </div>
                        #end
                        #(article.content)
                    </div>
                    <div class="article-neighbor">
                        #if(article.previousArticle != null)
                        <a href="#(article.previousArticle.articleUrl)">上一篇 : #(article.previousArticle.title)</a>
                        #end

                        #if(article.nextArticle != null)
                        <a href="#(article.nextArticle.articleUrl)">下一篇 : #(article.nextArticle.title)</a>
                        #end
                    </div>

                </article>



            </div>


        </div>
        <div class="category-left">
            <div class="category-box side-box">
                <div class="side-box-title">内容目录</div>
                <div class="side-box-body">
                    #articleList({categoryId:categoryId,orderSort:'asc'})
                    <a href="#(item.articleUrl)">#(item.title)</a>
                    #end
                </div>


            </div>

        </div>


    </div>
</div>
#include('inc/footer.html')