#include('inc/header.html')
<div class="section-gray" style="padding-top:120px;">
    <div class="wrapper banner-section">
        <p class="banner-section-title">DKCMS<i>&copy;</i> - 多客 <i>&copy;</i> 网站/小程序 内容管理系统</p>
        <p class="banner-section-txt">
            开源软件，可免费下载使用。 零开发拥有站点小程序、大量模板可选、自定义数据模型、全站静态化。搜索引擎SEO优化。基于Java + Mysql架构，性能优越。
        </p>
        <div class="banner-section-btn-wrapper">
            <div class="banner-section-btn s">版本下载</div>
            <div class="banner-section-btn">开发文档</div>
        </div>
        <div class=" banner-section-img">
            <img src="#(templatePath)/assets/img/screenshot.png">
            <img src="#(templatePath)/assets/img/screenshot2.png">
        </div>
    </div>
</div>
<div class="section-white">
    <div class="wrapper section-youdian">
        <p class="section-title">DKCMS 终将不负你的选择</p>
        <p class="section-sub-title">why?</p>
        <div class="youdian-list">
            <div>
                <span><img src="#(templatePath)/assets/icon/mini.png"></span>
                <h5>原生小程序、App</h5>
                <p>一处发布，PC端\H5端\公众号端\小程序端，同时展示。配套内容小程序源代码下载，零开发即可拥有站点专属小程序。</p>
            </div>
            <div>
                <span><img src="#(templatePath)/assets/icon/template.png"></span>
                <h5>模板丰富、定制简单</h5>
                <p>建站模板丰富。社区活跃，大量开源模板可供选择。模板开发语言简洁，对diy模板开发友好。</p>
            </div>
            <div>
                <span><img src="#(templatePath)/assets/icon/diy.png"></span>
                <h5>DIY数据模型、适配你的业务</h5>
                <p>支持在基本内容模型的基础上，自定义任意数据模型，字段名称、类型均可自定义，不限制字段数量</p>
            </div>
            <div>
                <span><img src="#(templatePath)/assets/icon/static.png"></span>

                <h5>支持全站静态化</h5>
                <p>支持全站静态化，生成的静态站可脱离cms独立部署运行。所以，dkcms也可以作为站点工厂，批量生成静态站。</p>
            </div>
            <div>
                <span><img src="#(templatePath)/assets/icon/robots.png"></span>

                <h5>可编程的CMS</h5>
                <p>核心功能均提供接口，可编程控制cms核心行为动作。方便站点批量管理，无人干预管理。robots.png</p>
            </div>
            <div>
                <span><img src="#(templatePath)/assets/icon/user.png"></span>

                <h5>用户系统</h5>
                <p>支持网站用户注册，实现登录后功能。</p>
            </div>
            <div>
                <span><img src="#(templatePath)/assets/icon/comment.png"></span>
                <h5>留言评论</h5>
                <p>支持用户留言，完善的后台审核机制，做到先审后发。</p>
            </div>
            <div>
                <span><img src="#(templatePath)/assets/icon/seo.png"></span>
                <h5>seo优化</h5>
                <p>可全站、单页、单频道配置seo信息，支持生成百度、谷歌、神马、头条、360多家搜索引擎的 sitemap 站点文件</p>
            </div>
            <div>
                <span><img src="#(templatePath)/assets/icon/ad.png"></span>

                <h5>广告配置</h5>
                <p>配套的广告管理功能</p>
            </div>
            <div>
                <span><img src="#(templatePath)/assets/icon/java.png"></span>

                <h5>支持二次开发</h5>
                <p>基于国产 jFinal 框架开发，整体架构简洁、明晰，二次开发能快速上手。系统启动速度快，运行资源消耗少。最新版同比用springboot实现的dk1.0，启动时间缩短80%，内存消耗少50%。</p>
            </div>
            <div>
                <span><img src="#(templatePath)/assets/icon/aiguo.png"></span>
                <h5>响应企业软件国产化号召</h5>
                <p>基于 国内著名 的 jFinal 框架开发，在openjdk，阿里jdk上均可正常运行，可实现CMS软件国产化</p>
            </div>

        </div>


    </div>
</div>

<div class="section-gray">
    <div class="wrapper section-case">
        <p class="section-title">部分 DKCMS 企业级 实施案例</p>
        <p class="section-sub-title section-sub-title-small">仅展示客户授权展示部分案例</p>
        <div class="case-list">
            <a class="case-item" href="http://www.39fengliao.com" target="_blank">
                <img src="http://www.39fengliao.com/resource/image/logo.png">
                <span>39蜂疗网</span>
                <p>http://www.39fengliao.com</p>
            </a>
            <a class="case-item" href="http://www.ikcw.com" target="_blank">
                <img src="https://www.ikcw.com/images/Logo.jpg">
                <span>癌症救助网</span>
                <p>http://www.ikcw.com</p>
            </a>
            <a class="case-item" href="https://www.55mianshi.com/" target="_blank">
                <img src="https://www.55mianshi.com/images//logo-496x154.png">
                <span>55教程网</span>
                <p>https://www.55mianshi.com/</p>
            </a>
            <a class="case-item" href="https://hommanorganic.com/" target="_blank">
                <img src="https://hommanorganic.com/static/image/logo.png">
                <span>外贸进出口公司官网</span>
                <p>https://hommanorganic.com/</p>
            </a>
            <a class="case-item" href="https://www.nduowang.com/" target="_blank">
                <img src="https://www.nduowang.com/statics/img/logo-no-border-no-bg.png">
                <span>企业官网</span>
                <p>https://www.nduowang.com/</p>
            </a>
            <a class="case-item" href="http://site1.demo.dkcms.cc/" target="_blank">
                <img src="#(templatePath)/logo.png"">
                <span>信息门户demo</span>
                <p>http://site1.demo.dkcms.cc/</p>
            </a>
            <a class="case-item" href="http://site2.demo.dkcms.cc/" target="_blank">
                <img src="#(templatePath)/logo.png"">
                <span>政企机构demo</span>
                <p>http://site2.demo.dkcms.cc/</p>
            </a>
            <a class="case-item" href="http://site3.demo.dkcms.cc/" target="_blank">
                <img src="#(templatePath)/logo.png"">
                <span>信息型门户demo</span>
                <p>http://site3.demo.dkcms.cc/</p>
            </a>
            <a class="case-item" href="http://site6.demo.dkcms.cc/" target="_blank">
                <img src="#(templatePath)/logo.png"">
                <span>信息型门户demo2</span>
                <p>http://site6.demo.dkcms.cc/</p>
            </a>
            <a class="case-item" href="http://site8.demo.dkcms.cc/" target="_blank">
                <img src="#(templatePath)/logo.png"">
                <span>信息型门户demo3</span>
                <p>http://site8.demo.dkcms.cc/</p>
            </a>
            <a class="case-item" href="#">
            </a>
            <a class="case-item" href="#">
            </a>

        </div>

    </div>
</div>

<div class="section-white">
    <div class="wrapper section-case">
        <p class="section-title">DKCMS 博客 案例</p>
        <p class="section-sub-title"></p>
        <div class="template-list">
            #set(
            list = [
            {name:'博客 基本款demo',img:'/assets/image/logo.png',url:'http://site4.demo.dkcms.cc/'},
            {name:'博客 极简款demo',img:'/assets/image/logo.png',url:'http://site5.demo.dkcms.cc/'},
            {name:'知心博客',img:'/assets/image/logo.png',url:'http://site7.demo.dkcms.cc/'},

            ])
            #for(item : list)
            <a class="template-item" href="#(item.url)" target="_blank">
                <div class="template-snapshot template-snapshot-blog" style="background-image: url(#(item.img))"></div>
                <div style="padding:10px">
                    <h3>#(item.name)</h3>
                    <div class="template-tag">
                        <span>#(item.url)</span>
                    </div>
                </div>
            </a>
            #end
        </div>
    </div>
</div>
<div class="section-gray">
    <div class="wrapper section-case">
        <p class="section-title">DKCMS 系统内置模板</p>
        <p class=" section-sub-title section-sub-title-small">以下模板为官方开发内置模板，更多前往 <a href="" target="_blank">社区模板专区</a>。定制模板，请参考<a
                href="">模板定制教程</a></p>
        <div class="template-list">
            #set(
            list = [
            {name:'大中型门户网站',img:'/template/dk-portal/screenshot.png',tags:['信息门户']},
            {name:'企业单位门户网站',img:'/template/OfficialSiteV8/screenshot.png',tags:['政务机构官网','新闻站']},
            {name:'dkcms信息流门户',img:'/template/dk-portal-flow/screenshot.png',tags:['信息门户','信息流']},
            {name:'dk-blog 基本款',img:'/template/dk-blog-basic/screenshot.png',tags:['个人博客','blog','信息门户']},
            {name:'dk-blog 极简1号',img:'/template/dk-blog-clean/screenshot.png',tags:['个人博客','blog','信息门户']},
            {name:'信息门户-多彩-流式布局',img:'/template/dk-portal-fashion/screenshot.png',tags:['信息门户']},
            {name:'知心博客',img:'/template/blog-zhixin/screenshot.png',tags:['个人博客','blog','信息门户']},
            {name:'信息流-门户内容站',img:'/template/dk-portal-flow2/screenshot.png',tags:['信息门户','信息流']}
            ])
            #set(index = 1)
            #for(item : list)
            <div class="template-item">
                <div class="template-snapshot" style="background-image: url(#(item.img))"></div>
                <div style="padding:10px">
                    <h3>#(item.name)</h3>
                    <div class="template-tag">
                        #for(t:item.tags)
                        <span>#(t)</span>
                        #end
                    </div>
                    <div class="template-btn">
                        <a href="http://site#(index).demo.dkcms.cc" target="_blank">预览</a> <a href="">下载</a>
                    </div>
                </div>
            </div>
            #set(index = index+1)
            #end
        </div>
    </div>
</div>

#include('inc/footer.html')