#include('inc/header.html')

<main>
    <div class="category-title">
        内容列表：#(category.categoryName)
    </div>
    #for(item:articleList)
    <div class="article-item-in-list">
        <div class="img" style="background-image: url('#(item.coverImage)')"></div>
        <div class="txt">
            <a href="#(item.categoryVo.categoryUrl)" class="cate">#(item.categoryName)</a>
            <a href="#(item.articleUrl)" class="title">#(item.title)</a>
            <p class="summary">#(item.summary)</p>
        </div>
    </div>
    #end
    <div class="pageNav">
        #pageNav()
    </div>

</main>
#include('inc/footer.html')