<div class="wrapper grid-box mt-20">
    <img src="http://www.zgkqw.com/images/shzyhxjzg.png" style="max-width: 100%">

</div>

<footer>
    <div class="wrapper footer-img-list grid-box mt-10">
        <a href="">
            <img src="http://www.zgkqw.com/tmnews/images/2017-1.png">
        </a>
        <a href="">
            <img src="http://www.zgkqw.com/tmnews/images/2017-2.png">
        </a>
        <a href="">
            全国公安网备案XXXXXXXXX号
        </a>
        <a href="">
            举报电话<br>
            01932-XXXxxxXXX
        </a>
        <a href="">
            12315网络不良信息举报受理中心
        </a>
        <a href="">
            12318文化市场举报网站
        </a>

    </div>
</footer>
<footer>

    <div class="wrapper footer-top grid-box mt-10">

        <div class="footer-top-item">
            <div class="footer-top-item-title">推荐栏目</div>
            <div class="footer-top-item-links">
                #categoryList(0)
                <a href="#(item.categoryUrl)">#(item.categoryName)</a>
                #end
            </div>
        </div>
        <div class="footer-top-item">
            <div class="footer-top-item-title">本站简介</div>
            <div class="footer-top-item-links">
                dkcms本站简介本站简介本站简介本站简介本站简介本站简介本站简介本站简介,本站简介本站简介本站简介,本站简介.本站简介本站简介本站简介。本站简介。
            </div>
        </div>
        <div class="footer-top-item">
            <div class="footer-top-item-title">关于我们</div>
            <div class="footer-top-item-links">
                #pageList()
                <a href="#(item.pageUrl)">#(item.name)</a>
                #end
            </div>
        </div>

        <div class="footer-top-item">
            <div class="footer-top-item-title">联系方式</div>
            <div class="footer-top-item-links">
                客服QQ： <br>
                邮箱：<br>
                地址：<br>
                微信公众号
            </div>
        </div>

    </div>
</footer>
<footer>
    <div class="wrapper footer-bottom">
        <p>Copyright © DKcms 版权所有 | 京ICP备XXXXXX号 | 由 DkCms 驱动</p>

    </div>

</footer>


</body>
</html>