<div class="page-body">

    <div class="page-body-main dk-auto-form" data-action="/admin/tag/save" data-success="/admin/tag/list">
        <input type="hidden" name="id" value="#(tag.id)">
        <table class="table-pro">
            <tr>
                <td>#(action=='edit'?'编辑':'发布') 标签</td>
                <td></td>
            </tr>

            <tr>
                <td>标签</td>
                <td>
                    <input type="text" name="tag_name" value="#(tag.tagName)"
                           data-require="标签名称不能为空"
                           class="input_02">
                </td>
            </tr>
            <tr>
                <td>作者</td>
                <td>

                    <select class="select_01" name="tag_type">
                        <option value="1" #(tag.tagType==1?'selected="selected"':'')>文章标签</option>
                        <option value="2" #(tag.tagType==1?'selected="selected"':'')>栏目标签</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>&nbsp;</td>
                <td>
                    <div class="btn_primary dk-auto-submit-btn">
                        保存
                    </div>
                </td>
            </tr>

        </table>
    </div>

</div>


