#include('inc/header.html')
<div class="wrapper content-page-wrapper category-mianbaoxie mt-10">
    #mianbaoxie()
</div>
<div class="wrapper content-page-wrapper grid-box mt-10">
    <div class="page-main">

        <div class="content-main">
            <div class="content-header">
                <div class="content-header-title">#(page.name)</div>

            </div>
            <div class="content-body">
                #(page.content)
            </div>
        </div>
    </div>
    <div class="page-side ">
        #include('inc/left-side.html')
    </div>
</div>


#include('inc/footer.html')